*.app
*.cmake
*.dylib
*.edge
*.egg-info/
*.ele
*.face
*.ninja
*.node
*.o
*.off
*.pyc
*.smesh
*.so
.DS_Store
.idea/
.ipynb_checkpoints/
.ninja_*
.vscode/
/build
/ext_build
CMakeCache.txt
CMakeFiles
cmake-build-debug/
im
im_resources.cpp
im_resources.h
test/
tetgen